<!DOCTYPE html>
<html>
<head>
  <title>Police data scraper</title>
</head>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<style type="text/css">
  #mapid { height: 1000px; }
</style>


<!--

Depending on the screen resolution, change:
- 'setView' coordinates    55 - 57
- div height               500-1000 px
- minZoom                  7-8 

-->

<body>

  <div id="mapid"></div>
  <!--
  <div id="lat"></div>
  <div id="lng"></div>
  -->

  <script>
    var mymap = L.map('mapid').setView([55.2103368, 11.8389378], 7.25);
    mymap.setMaxBounds(mymap.getBounds());
    
    var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      // Set interval   minZoom < maxZoom
      minZoom: 7,
      maxZoom: 11,
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);


    var lat, lng;

    mymap.addEventListener('mousemove', function(ev) {
       lat = ev.latlng.lat;
       lng = ev.latlng.lng;
       console.log(lat);
       console.log(lng);
       console.log();
       //document.getElementById('lat').innerHTML = lat;
       //document.getElementById('lng').innerHTML = lng;

       
    });

    var circle = L.circle([55.68377, 12.3596],{
        color: 'red',
        fullColor: '#f03',
        fillOpacity: 0.1,
        radius: 50000.0
      }).addTo(mymap);

    var circle = L.circle([55.78377, 12.3596],{
        color: 'red',
        fullColor: '#f03',
        fillOpacity: 0.1,
        radius: 50000.0
      }).addTo(mymap);

    var circle = L.circle([56.3, 9.82],{
        color: 'green',
        fullColor: '#f03',
        fillOpacity: 0.7,
        radius: 50000.0
      }).addTo(mymap);

  </script>

</body>








</html>